<app-site-menu></app-site-menu>

<div class="container mt-4 mb-5">
  <div class="row mt-2 mb-2">
    <div class="col-md">
      <a routerLink="/produtos/plano-basic" class="btn btn-light float-right"> Voltar</a>
    </div>
  </div>
  <div class="row">

    <div class="col-md-7">


      <h3>Dados Pessoais</h3>
      <hr>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputEmail1">Nome: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite seu nome">
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Sobrenome: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite seu Sobrenome">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputEmail1">CPF: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="EX: 000.000.000-00">
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Telefone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Insira seu número para contato">
          </div>
        </div>
      </div>



      <h3 class="mt-5">Dados de Endereço</h3>
      <hr>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputEmail1">CEP: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="EX: 00000-000">
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Cidade: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite o nome de sua cidade">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputEmail1">Bairro: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite seu bairro">
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Rua</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite sua rua">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputEmail1">Número: </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Insira o número de sua residencia">
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Complemento</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Caso queira, insira um complemento de endereço">
          </div>
        </div>
      </div>


      <h3 class="mt-5">Dados de Acesso</h3>
      <hr>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="exampleInputEmail1">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite seu email para acesso ao sistema">
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Senha</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Digite uma senha">
          </div>
        </div>
      </div>

    </div>


    <div class="col-md-5">

      <div class="card bg-blue-grey mb-3 text-white">
        <div class="card-header text-center">
          <b> PLANO BASIC </b></div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><i class="pi pi-check"></i> Modelos multiplataforma</li>
            <li><i class="pi pi-check"></i> Domínio (meusite.com.br)</li>
            <li><i class="pi pi-check"></i> 1 Conta de E-mail 1GB</li>
            <li><i class="pi pi-check"></i> Integração com Redes Sociais</li>
            <li><i class="pi pi-check"></i> Certificado SSL incluso (HTTPS)</li>
            <li><i class="pi pi-check"></i> 1 Ano de hospedagem</li>
            <li><i class="pi pi-check"></i> 1 Ano de suporte</li>
            <li><i class="pi pi-check"></i> Blog</li>
            <li><i class="pi pi-times"></i> Pacote de artes para redes sociais*</li>
          </ul>

          <h5 class="card-title text-success text-center mt-4">
            R$ 497,00/Ano
          </h5>


          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>



  </div>



  <div class="container">
    <h3 class="mt-5">Pagamento</h3>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Cartão de Crédito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Boleto Bancário</a>
      </li>
    </ul>
    <div class="tab-content  mt-4" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


        <div class="row">
          <div class="col-md-12">


            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="inputName">Nome do portador (como gravado no cartão) </label>
                  <input type="email" class="form-control" id="inputName" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputCreditNum">Número do cartão</label>
                  <input type="text" class="form-control" id="inputCreditNum" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">

                <div class="form-group">
                  <label for="inputCreditMonth">Mês*</label>
                  <input type="email" class="form-control" id="inputCreditMonth" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>

              </div>
              
              <div class="col-md-3">

                <div class="form-group">
                  <label for="inputCreditYear">Ano *</label>
                  <input type="email" class="form-control" id="inputCreditYear" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder" >
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputCreditCvv">Código de segurança *</label>
                  <input type="email" class="form-control" id="inputCreditCvv" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="exampleInputEmail1">Parcelas (o valor mínimo da parcela é R$ 5,00) *</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">CPF do portador *</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="exampleInputEmail1">Data de nascimento do portador *</label>
                  <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Telefone do portador *</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="TrocarPlaceholder">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <!-- <img src="https://blog.shopim.com.br/wp-content/uploads/2017/03/pagseguro-1100x540.jpg" width="300" alt=""> -->
                <img
                  src="https://i2.wp.com/lilianmendanha.com.br/wp-content/uploads/2018/07/comprar-com-pagseguro-uol.png?w=840"
                  width="300" alt="">
              </div>
              <div class="col-md-6 float-right">
                <button class="btn btn-success btn-block btn-lg">Realizar Pagamento</button>
              </div>
            </div>

          </div>
        </div>


      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>

    </div>



  </div>
</div>



<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24"
          height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>