<app-site-menu></app-site-menu>

<div *ngIf="loadingPage" class="container">
  <div *ngIf="!hideBlock" class="d-flex justify-content-center align-items-center" style="height: 500px">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>


<div class="container mt-4 mb-5" *ngIf="!loadingPage">

  <div class="row mt-2 mb-2">
    <div class="col-md">
      <!-- <a routerLink="/produtos/plano-basic" class="btn btn-light float-right"> Voltar</a> -->
    </div>
  </div>
  <!-- fecha row mt-2 mb-2 -->

  <div class="row" *ngIf="!hideBlock">

    <div class="col-md-8">

      <h5 class="msg-erro text-danger">Atenção: Campos com asterísco (*) são obrigatórios.</h5>
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

        <div class="card mt-3">
          <div class="card-header">
            <h4>DADOS PESSOAIS</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Nome: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" placeholder="Digite seu nome" formControlName="firstName">

                  <div class="text-danger msg-erro"
                    *ngIf="clientForm.controls['firstName'].errors?.required && clientForm.controls['firstName'].touched">
                    O Nome é um campo obrigatório
                  </div>
                  <div *ngIf="clientForm.controls.firstName.hasError('minlength')" class="text-danger msg-erro">
                    O nome deve conter {{clientForm.controls.firstName.errors.minlength.requiredLength}}
                    ou mais caracteres. Você digitou: {{ clientForm.controls.firstName.errors.minlength.actualLength}}
                    caracteres.
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Sobrenome: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Digite seu Sobrenome">
                  <div
                    *ngIf="clientForm.controls.lastName.hasError('required') && clientForm.controls['lastName'].touched"
                    class="text-danger msg-erro">
                    O Sobrenome é um campo obrigatório
                  </div>
                  <div *ngIf="clientForm.controls.lastName.hasError('minlength')" class="text-danger msg-erro">
                    O sobrenome deve conter {{clientForm.controls.lastName.errors.minlength.requiredLength}}
                    ou mais caracteres. Você digitou: {{ clientForm.controls.lastName.errors.minlength.actualLength}}
                    caracteres.
                  </div>
                </div>
              </div>
            </div>
            <!-- fecha row -->

            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="">CPF: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="cpf" placeholder="EX: 12345678901">
                  <div *ngIf="clientForm.controls.cpf.hasError('required') && clientForm.controls['cpf'].touched"
                    class="text-danger msg-erro">
                    O CPF é um campo obrigatório
                  </div>
                  <div *ngIf="clientForm.controls.cpf.hasError('pattern')" class="text-danger msg-erro">
                    O CPF só pode conter números
                  </div>
                  <div class="text-danger msg-erro" *ngIf="clientForm.controls.cpf.hasError('cpfNotValid')">
                    O CPF não é válido.
                  </div>
                  <div *ngIf="clientForm.controls.cpf.hasError('minlength')" class="text-danger msg-erro">
                    O CPF deve conter {{clientForm.controls.cpf.errors.minlength.requiredLength}}
                    caracteres. Você digitou: {{ clientForm.controls.cpf.errors.minlength.actualLength}}
                    caracteres.
                  </div>

                  <div *ngIf="clientForm.controls.cpf.hasError('maxlength')" class="text-danger msg-erro">
                    O CPF deve conter {{clientForm.controls.cpf.errors.maxlength.requiredLength}}
                    caracteres. Você digitou: {{ clientForm.controls.cpf.errors.maxlength.actualLength}}
                    caracteres.
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Telefone: <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="telefone"
                    placeholder="Insira seu número para contato">
                  <div
                    *ngIf="clientForm.controls.telefone.hasError('required') && clientForm.controls['telefone'].touched"
                    class="text-danger msg-erro">
                    O telefone é um campo obrigatório
                  </div>
                  <div *ngIf="clientForm.controls.telefone.hasError('pattern')" class="text-danger msg-erro">
                    O Telefone só pode conter números
                  </div>
                  <div *ngIf="clientForm.controls.telefone.hasError('minlength')" class="text-danger msg-erro">
                    O Telefone deve conter {{clientForm.controls.telefone.errors.minlength.requiredLength}}
                    digitos. Você digitou:
                    {{ clientForm.controls.telefone.errors.minlength.actualLength}}
                    digitos.
                  </div>

                  <div *ngIf="clientForm.controls.telefone.hasError('maxlength')" class="text-danger msg-erro">
                    O Telefone deve conter {{clientForm.controls.telefone.errors.maxlength.requiredLength}}
                    digitos. Você digitou:
                    {{ clientForm.controls.telefone.errors.maxlength.actualLength}}
                    digitos.
                  </div>
                </div>
              </div>
            </div>
            <!-- fecha row -->

          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            <h4>DADOS DE ENDEREÇO</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">CEP: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="cep" class="form-control" placeholder="EX: 00000-000">
                  <div class="text-danger msg-erro"
                    *ngIf="clientForm.controls['cep'].errors?.required && clientForm.controls['cep'].touched">
                    O CEP é obrigatório
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Estado: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="estado" class="form-control" placeholder="Sigla de seu Estado">
                  <div *ngIf="clientForm.controls.estado.hasError('required') && clientForm.controls['estado'].touched"
                    class="text-danger msg-erro">
                    O Estado é obrigatório
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Cidade: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="cidade" class="form-control" placeholder="Nome de sua cidade">
                  <div *ngIf="clientForm.controls.cidade.hasError('required') && clientForm.controls['cidade'].touched"
                    class="text-danger msg-erro">
                    A Cidade é obrigatória
                  </div>
                </div>
              </div>
            </div>
            <!-- fecha row -->

            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="">Bairro: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="bairro" class="form-control" placeholder="Digite seu bairro">
                  <div *ngIf="clientForm.controls.bairro.hasError('required') && clientForm.controls['bairro'].touched"
                    class="text-danger msg-erro">
                    O Bairro é obrigatório
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Rua: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="rua" class="form-control" placeholder="Digite sua rua">
                  <div *ngIf="clientForm.controls.rua.hasError('required') && clientForm.controls['rua'].touched"
                    class="text-danger msg-erro">
                    A Rua é obrigatória
                  </div>
                </div>
              </div>
            </div>
            <!-- fecha row -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Número: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="numero" class="form-control"
                    placeholder="Insira o número de sua residencia">
                  <div *ngIf="clientForm.controls.numero.hasError('required') && clientForm.controls['numero'].touched"
                    class="text-danger msg-erro">
                    O Número é obrigatório
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Complemento</label>
                  <input type="text" formControlName="complemento" class="form-control"
                    placeholder="Caso queira, insira um complemento de endereço">
                  <!-- <div
                    *ngIf="clientForm.controls.complemento.hasError('required') && clientForm.controls['complemento'].touched"
                    class="text-danger msg-erro">
                    O Complemento é obrigatório
                  </div> -->
                </div>
              </div>
            </div>
            <!-- fecha row -->

          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            <h4>DADOS DE ACESSO</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="">E-mail: <span class="text-danger">*</span></label>
                  <input type="text" formControlName="emailAccess" class="form-control"
                    placeholder="Digite seu email para acesso ao sistema">
                  <div
                    *ngIf="clientForm.controls.emailAccess.hasError('required') && clientForm.controls['emailAccess'].touched"
                    class="text-danger msg-erro">
                    O E-mail é obrigatório
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Senha: <span class="text-danger">*</span></label>
                  <input type="password" formControlName="password" class="form-control" placeholder="Digite uma senha">
                  <div
                    *ngIf="clientForm.controls.password.hasError('required') && clientForm.controls['password'].touched"
                    class="text-danger msg-erro">
                    A Senha é obrigatória
                  </div>
                </div>
              </div>
            </div>
            <!-- fecha row -->
          </div>

        </div>

        <div class="row" *ngIf="!hideBlock">
          <div class="col-md-12">
            <div class="card mt-3">
              <div class="card-header">
                <h4>DADOS PAGAMENTO</h4>
              </div>

              <div class="card-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                      aria-controls="home" aria-selected="true">Cartão de Crédito</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                      aria-controls="profile" aria-selected="false">Boleto Bancário</a>
                  </li>
                </ul>

                <div class="tab-content  mt-4" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">
                      <div class="col-md-12">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="nome">Nome do portador (como gravado no cartão): <span
                                  class="text-danger">*</span></label>
                              <input type="text" formControlName="nomePortadorCard" name="nome" class="form-control"
                                placeholder="Nome do portador do cartão">
                              <div
                                *ngIf="clientForm.controls.nomePortadorCard.hasError('required') && clientForm.controls['nomePortadorCard'].touched"
                                class="text-danger msg-erro">
                                O Nome do portador do cartão é obrigatório
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputCreditNum">Número do cartão: <span class="text-danger">*</span></label>
                              <input type="number" class="form-control" placeholder="Insira o número do cartão"
                                formControlName="numCard" name="numCard" (focusout)="buscaBandeira()">
                              <div
                                *ngIf="clientForm.controls.numCard.hasError('required') && clientForm.controls['numCard'].touched"
                                class="text-danger msg-erro">
                                O Número do cartão é obrigatório
                              </div>
                              <div *ngIf="clientForm.controls.numCard.hasError('pattern')" class="text-danger msg-erro">
                                O Número do cartão só pode conter números
                              </div>
                              <div *ngIf="clientForm.controls.numCard.hasError('minlength')"
                                class="text-danger msg-erro">
                                O Número do cartão deve conter
                                {{clientForm.controls.numCard.errors.minlength.requiredLength}}
                                dígitos. Você digitou: {{ clientForm.controls.numCard.errors.minlength.actualLength}}
                                dígitos.
                              </div>

                              <div *ngIf="clientForm.controls.numCard.hasError('maxlength')"
                                class="text-danger msg-erro">
                                O Número do cartão deve conter
                                {{clientForm.controls.numCard.errors.maxlength.requiredLength}}
                                dígitos. Você digitou: {{ clientForm.controls.numCard.errors.maxlength.actualLength}}
                                dígitos.
                              </div>
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="inputCreditMonth">Mês: <span class="text-danger">*</span></label>
                              <input type="number" class="form-control" placeholder="Mês de vencimento"
                                formControlName="mesValidadeCard" name="mesValidadeCard" (focusout)="buscaBandeira()">
                              <div
                                *ngIf="clientForm.controls.mesValidadeCard.hasError('required') && clientForm.controls['mesValidadeCard'].touched"
                                class="text-danger msg-erro">
                                O Mês de vencimento do cartão é obrigatório
                              </div>
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="inputCreditYear">Ano: <span class="text-danger">*</span></label>
                              <input type="number" class="form-control" placeholder="Ano de vencimento"
                                formControlName="anoValidadeCard" name="anoValidadeCard" (focusout)="buscaBandeira()">
                              <div
                                *ngIf="clientForm.controls.anoValidadeCard.hasError('required') && clientForm.controls['anoValidadeCard'].touched"
                                class="text-danger msg-erro">
                                O Ano de vencimento do cartão é obrigatório
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputCreditCvv">Cód. de segurança (CVV): <span
                                  class="text-danger">*</span></label>
                              <input type="number" formControlName="codSegCard" class="form-control" placeholder="CVV"
                                name="codSegCard" (focusout)="buscaBandeira()">
                              <div
                                *ngIf="clientForm.controls.codSegCard.hasError('required') && clientForm.controls['codSegCard'].touched"
                                class="text-danger msg-erro">
                                O Código de segurança do cartão é obrigatório
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-md-8">
                            <div class="form-group">
                              <label for="">Parcelas (Valor mínimo R$ 5,00): <span class="text-danger">*</span></label>

                              <div *ngIf="!escolheSelect; else selectOptions">
                                <select disabled="disabled" class="form-control">
                                  <option>Escolha após preencher dados do Cartão.</option>
                                </select>
                              </div>

                              <ng-template #selectOptions>
                                <select formControlName="parcelas" class="form-control">

                                  <option>Parcelamento habilidato para escolha</option>

                                  <option *ngFor='let parcela of escolherQntParcelas' [value]="parcela.ID">

                                    <div *ngIf="parcela.interestFree == true">
                                      {{parcela.quantity}} x de {{ parcela.installmentAmount}} Sem Juros - Total a
                                      pagar:
                                      {{ parcela.totalAmount}}
                                    </div>
                                    <div *ngIf=" parcela.interestFree == false">
                                      {{parcela.quantity}} x de {{ parcela.installmentAmount}} Com Juros - Total a
                                      pagar:
                                      {{ parcela.totalAmount}}
                                    </div>

                                  </option>
                                </select>
                              </ng-template>


                              <div *ngIf="escolheSelect" class="text-success msg-erro">
                                Parcelamento habilidato para escolha
                              </div>
                              <div
                                *ngIf="clientForm.controls.parcelas.hasError('required') && clientForm.controls['parcelas'].touched"
                                class="text-danger msg-erro">
                                Selecione uma das opções acima.
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="">CPF do portador: <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" placeholder="EX: 12345678901"
                                formControlName="cpfCard" name="cpfCard">
                              <div
                                *ngIf="clientForm.controls.cpfCard.hasError('required') && clientForm.controls['cpfCard'].touched"
                                class="text-danger msg-erro">
                                O CPF é um campo obrigatório
                              </div>
                              <div *ngIf="clientForm.controls.cpfCard.hasError('pattern')" class="text-danger msg-erro">
                                O CPF só pode conter números
                              </div>
                              <div class="text-danger msg-erro"
                                *ngIf="clientForm.controls.cpfCard.hasError('cpfNotValid')">
                                O CPF não é válido.
                              </div>
                              <div *ngIf="clientForm.controls.cpfCard.hasError('minlength')"
                                class="text-danger msg-erro">
                                O CPF deve conter {{clientForm.controls.cpfCard.errors.minlength.requiredLength}}
                                caracteres. Você digitou: {{ clientForm.controls.cpfCard.errors.minlength.actualLength}}
                                caracteres.
                              </div>

                              <div *ngIf="clientForm.controls.cpfCard.hasError('maxlength')"
                                class="text-danger msg-erro">
                                O CPF deve conter {{clientForm.controls.cpfCard.errors.maxlength.requiredLength}}
                                caracteres. Você digitou: {{ clientForm.controls.cpfCard.errors.maxlength.actualLength}}
                                caracteres.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-8">
                            <div class="form-group">
                              <label for="">Data de nascimento do portador: <span class="text-danger">*</span></label>
                              <input type="date" class="form-control" placeholder="Data Nacimento"
                                formControlName="nascimento" name="nascimento">
                              <div
                                *ngIf="clientForm.controls.nascimento.hasError('required') && clientForm.controls['nascimento'].touched"
                                class="text-danger msg-erro">
                                Data de nascimento é obrigatória
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="">Telefone do portador: <span class="text-danger">*</span></label>
                              <input type="text-success" class="form-control" placeholder="EX:99123451234"
                                formControlName="telefoneCard" name="telefoneCard">
                              <div
                                *ngIf="clientForm.controls.telefoneCard.hasError('required') && clientForm.controls['telefoneCard'].touched"
                                class="text-danger msg-erro">
                                O Telefone é obrigatório
                              </div>
                              <div *ngIf="clientForm.controls.telefoneCard.hasError('pattern')"
                                class="text-danger msg-erro">
                                O Telefone só pode conter números
                              </div>
                              <div *ngIf="clientForm.controls.telefoneCard.hasError('minlength')"
                                class="text-danger msg-erro">
                                O Telefone deve conter
                                {{clientForm.controls.telefoneCard.errors.minlength.requiredLength}}
                                digitos. Você digitou:
                                {{ clientForm.controls.telefoneCard.errors.minlength.actualLength}}
                                digitos.
                              </div>

                              <div *ngIf="clientForm.controls.telefoneCard.hasError('maxlength')"
                                class="text-danger msg-erro">
                                O Telefone deve conter
                                {{clientForm.controls.telefoneCard.errors.maxlength.requiredLength}}
                                digitos. Você digitou:
                                {{ clientForm.controls.telefoneCard.errors.maxlength.actualLength}}
                                digitos.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <!-- <img src="https://blog.shopim.com.br/wp-content/uploads/2017/03/pagseguro-1100x540.jpg" width="300" alt=""> -->
                            <img
                              src="https://i2.wp.com/lilianmendanha.com.br/wp-content/uploads/2018/07/comprar-com-pagseguro-uol.png?w=840"
                              width="200" alt="">
                          </div>
                          <div class="col-md-6 float-right">
                            <p class="info-dados">Os seus dados pessoais serão utilizados para processar a sua compra,
                              apoiar a sua experiência em todo este site e para outros fins descritos na nossa
                              <a href="javascript::void()" (click)="display = true">
                                Política de Privacidade.
                              </a>
                            </p>
                            <button type="submit" class="btn btn-success btn-block btn-lg"
                              [disabled]="!clientForm.valid">
                              Realizar Pagamento
                            </button>
                            <p class="info-dados">Após preencher todos os campos obrigatórios, o botão será
                              ativado para finalizar seu pedido.</p>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>


                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="row">
                      <div class="col-md-12">
                        <h3>BOLETO BANCÁRIO</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <p>
                          <img src="https://stc.pagseguro.uol.com.br/pagseguro/i/checkout-presentation/ico_boleto.png"
                            alt="">O
                          pedido
                          será confirmado apenas após a confirmação do pagamento. </p>
                        <p>Taxa: R$ 1,00 (taxa aplicada para cobrir custos de gestão de risco do meio de pagamento).</p>
                        <p>* Após clicar em "Gerar Boleto" você verá um botão com o link para o seu boleto bancário, é
                          possível
                          visualizá=lo, imprimi-lo e pagar pelo site do seu banco ou por uma casa lotérica.</p>

                        <p>Esta compra está sendo feita no Brasil <img
                            src="https://escoladeadvogados.com/sitesparaadvogados/wp-content/plugins/woocommerce-pagseguro/assets/images/brazilian-flag.png"
                            alt=""></p>

                        <p class="info-dados">Os seus dados pessoais serão utilizados para processar a sua compra,
                          apoiar a sua experiência em todo este site e para outros fins descritos na nossa
                          <a href="javascript::void()" (click)="display = true">
                            Política de Privacidade.
                          </a>
                        </p>

                      </div>

                      <div class="col-md-5 ml-auto">
                        <button class="btn btn-lg btn-success btn-block " (click)="gerarBoleto()"
                          [disabled]="!clientForm.valid">GERAR BOLETO</button>
                        <p class="info-dados">Após preencher todos os campos obrigatórios, o botão será
                          ativado para finalizar seu pedido.</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </form>
      <!-- fecha [formGroup]="clientForm" (ngSubmit)="onSubmit()" -->

    </div>
    <!-- fecha class="col-md-8" -->

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header text-center">
          <b>
            <h2>{{produto.title}}</h2>
          </b>
          <a routerLink="/">Escolher outro plano</a>
        </div>
        <img class="card-img-top" [src]="produto.image" alt="Card image cap">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of produto.items">
              <i [ngClass]="['pi ',  item.check]"></i> {{ item.title_item}}
            </li>
          </ul>
          <h3 class="card-title text-success text-center mt-4">
            R$ {{produto.price}}/Ano
          </h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <!-- fecha card bg-blue-grey -->
    </div>
    <!-- fecha col-md-4 -->

  </div>
  <!-- fecha row -->

</div>
<!-- fecha container  -->

<div class="container" *ngIf="hideBlockBoleto">
  <div class="row d-flex justify-content-center align-content-center">
    <div class="col-md-12">
      <div class="alert alert-success text-center" role="alert">
        <h1>Parabéns!</h1>
        <p>Sua solicitção foi realizada com sucesso!</p>
      </div>
    </div>
    <div class="col-md-3">
      <button (click)="openLinkBoleto()" class="btn btn-info btn-block btn-lg">ABRIR LINK</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="hideBlockCreditCard">
  <div class="row d-flex justify-content-center align-content-center">
    <div class="col-md-12">
      <div class="alert alert-success text-center" role="alert">
        <h1>Parabéns!</h1>
        <p>Compra realizada com sucesso!</p>
        <p>Acesse o painel administrativo com seu e-mail e senha cadastrados anteriormente e dê prosseguimento a
          construção do seu site.</p>
      </div>
    </div>
    <div class="col-md-3">
      <a routerLink="/admin/login" class="btn btn-info btn-block btn-lg">ACESSAR PAINEL</a>
    </div>
  </div>
</div>

<div class="container" *ngIf="!loadingPage">
  <app-rodape></app-rodape>
</div>

<p-dialog header="POLÍTICA DE PRIVACIDADE" [(visible)]="display" [style]="{width: '90%'}">
  <div class="container politica">


    <!--           
        <h4 class="card-title">
        
          </h4>

          <h5 class="card-title">
            1. Cadastro em nosso site:
          </h5>

          <ul class="ul-list-staly-none">

            <li>
              1.1. O cadastro em nosso site  é feita no momento da compra o plano, o que gera um ônus ou cobrança aos
              visitantes e clientes dos Sites Para Advogados.
            </li>

          </ul> -->


    <p>
      Nós, da Escola de Advogados, estamos comprometidos em resguardar sua privacidade.
      O intuito deste documento é esclarecer quais informações são coletadas dos usuários de
      nossos sites https://escoladeadvogados.com, http://advexponencial.com.br – e respectivos serviços
      – (“Você”) e de que forma esses dados são manipulados e utilizados.
    </p>

    <p>
      Para oferecer nossos serviços, a Escola de Advogados, por meio de seu site e dos dispositivos
      sincronizados com este, coleta diversos dados e informações, visando, sobretudo, proporcionar
      uma experiência cada melhor para você. A Escola reconhece que a sua privacidade é muito importante
      portanto tomamos todas as medidas possíveis para protegê-la. Nesse sentido, a presente Política
      de Privacidade (“Política”) visa lhe informar como as suas informações e dados serão coletados,
      usados, compartilhados e armazenados por meio dos nossos sites e respectivos serviços.
    </p>

    <p>
      Este documento é parte integrante do nosso Termo de Uso, que contém uma visão geral da nossa
      plataforma.
    </p>

    <p>
      Este documento foi redigido de forma simples e acessível, justamente para que você possa ler e
      entender a forma como utilizamos os seus dados para lhe oferecer uma experiência segura e
      confortável no uso dos serviços que oferecemos a você.
    </p>

    <p>
      A aceitação da nossa Política será feita quando você se cadastrar em nossa plataforma para o
      usufruir dos nossos serviços, mesmo que de forma gratuita. Isso indicará que você está ciente
      e em total acordo com a forma como utilizaremos as suas informações e seus dados.
    </p>

    <p>
      Caso não concorde com esta Política, por favor, não continue o seu procedimento de registro e não
      use os nossos serviços. Todavia, por favor, nos informe a sua discordância para que possamos
      melhorá-los.
    </p>

    <h5 class="card-title mt-2">
      A presente Política está dividida da seguinte forma para facilitar a sua compreensão:
    </h5>

    <ol>
      <li>Sobre a coleta de dados</li>
      <li>Sobre o uso de seus dados pessoais</li>
      <li>Sobre o acesso aos seus dados pessoais</li>
      <li>Sobre o compartilhamento de dados</li>
      <li>Sobre o uso de informações fornecidas a nossos clientes</li>
      <li>Sobre o cancelamento da assinatura e alteração/exclusão de informações pessoais</li>
      <li>Mudanças na Política de Privacidade</li>
      <li>Lei Aplicável</li>
    </ol>

    Qualquer dúvida em relação à nossa política de privacidade pode ser esclarecida entrando em contato conosco.

    Envie um e-mail para contato@escoladeadvogados.com.

    Estamos localizados na Rua Gonçalves Dias, nº 47, Centro, CEP: 65900-560, Imperatriz/MA.

    1. Sobre a coleta de dados
    Informações fornecidas por você – Coletamos informações de identificação pessoal – como nome, telefone,
    e-mail, empresa em que trabalha e cargo – via preenchimento dos formulários para download de nossos conteúdos
    gratuitos. Eventualmente, a solicitação de algumas informações pode ser feita por meio de contato direto da
    Escola de Advogados com os usuários via e-mail ou telefone.

    Informações de navegação no site – Quando você visita nosso site, é inserido um ‘cookie’ no seu navegador por
    meio do software Google Analytics, para identificar quantas vezes você retorna ao nosso endereço. São
    coletadas informações como endereço IP, localização geográfica, fonte de referência, tipo de navegador,
    duração da visita e páginas visitadas.

    Histórico de contato – Aqui na Escola de Advogados armazenamos informações a respeito de todos os contatos já
    realizados com nossos usuários, como conteúdos baixados a partir de nossas páginas e interações via e-mail.

    Dados gerados na utilização de nossos serviços – Se você se utilizar de algum de nossos serviços, coletaremos
    ainda outras informações suas e das pessoas que visitarem os sites que você cadastrar em nossas plataformas.
    Nesse caso, coletaremos dados de contato como seu nome, e-mail e telefone, dados locacionais como país, cidade
    e estado de onde o acesso está ocorrendo, dados de perfil profissional, incluindo cargo, nome e segmento da
    empresa onde você trabalha, número de funcionários dessa empresa, formação acadêmica e anos de experiência,
    suas preferências e informações sobre seu browser.

    Dados do Facebook – Ao utilizar sua conta no Facebook para se integrar aos nossos serviços, poderemos coletar
    todos os dados que forem disponibilizados pelo Facebook ao nosso sistema, como informações sobre seus
    anúncios, quantos clicks eles receberam, informações sobre os visitantes aos seus websites que estejam
    disponíveis nessa plataforma, entre outras.

    2. Sobre o uso de seus dados pessoais
    Todos os dados que coletamos são utilizados para a prestação de nossos serviços, e não custa lembrar, prezamos
    muito a sua privacidade. Por isso, todos os dados e informações sobre você são tratadas como confidenciais, e
    somente as usaremos para os fins aqui descritos e autorizados por você, principalmente para que você possa
    utilizar nossos serviços de forma plena, visando sempre melhorar a sua experiência como usuário. Desta forma,
    poderemos personalizar o serviço para este adequar cada vez mais aos seus gostos e interesses. Ademais, seus
    dados também podem ser utilizados para criarmos novos serviços, produtos e funcionalidades.

    Para prestar nossos serviços, cruzaremos os dados que coletarmos com outros que tivermos sobre o mesmo titular
    em nossas bases de dados, inclusive os dados dos visitantes dos sites que você cadastrar em nossas
    plataformas. Em especial, utilizaremos os dados para monitorar as ações dos visitantes às páginas que você
    cadastrar, para criar perfis dessa pessoas com base nos dados de seu comportamento e verificar quais são seus
    interesses, para classificar e qualificar essas pessoas de acordo com esse perfil, e para criar listas
    dinâmicas dessas pessoas para execução de ações de marketing direcionadas, que são realizadas automaticamente
    de acordo com a classificação dos visitantes do seu site.

    Eventualmente, poderemos utilizar dados para finalidades não previstas nesta política de privacidade, mas
    estas estarão dentro das suas legítimas expectativas. O eventual uso dos seus dados para finalidades que não
    cumpram com essa prerrogativa serão será feito mediante sua autorização prévia.

    Além do acima, utilizaremos seus dados para as seguintes finalidades:

    • Seu e-mail é utilizado para a operação de envio do material ou informação por você requisitada no
    preenchimento do formulário. Também pode ser usado para envio de Newsletters, sempre relacionadas ao tema
    Advocacia. O e-mail será utilizado ainda para comunicar o lançamento de novos materiais gratuitos ou de novos
    produtos da Escola de Advogados e parceiros. No entanto, o usuário pode cancelar a assinatura a qualquer
    momento.

    • Os dados de download poderão ser divulgados como pesquisas e estatísticas, não sendo reveladas abertamente
    nenhuma informação pessoal, a menos que autorizada explicitamente.

    • Funcionários da Escola de Advogados poderão eventualmente entrar em contato via e-mail ou telefone para
    fazer pesquisas ou apresentar produtos e serviços.

    • Enviar a você mensagens a respeito de suporte ou serviço, como alertas, notificações e atualizações;

    • Nos comunicar com você sobre produtos, serviços, promoções, notícias, atualizações, eventos e outros
    assuntos que você possa ter interesse;

    • Realizar publicidade direcionada conforme seus gostos, interesses e outras informações coletadas;

    • Personalizar o serviço para este adequar cada vez mais aos seus gostos e interesses;

    • Para qualquer fim que você autorizar no momento da coleta de dados;

    • Cumprir obrigações legais.

    A Escola de Advogados se reserva no direito de monitorar toda a plataforma, principalmente para assegurar que
    as regras descritas em nosso Termo de Uso estão sendo observadas, ou ainda se não há violação ou abuso das
    leis aplicáveis. Portanto, a Escola de Advogados se reserva no direito de excluir determinado usuário,
    independente do tipo que for, caso a presente Política não seja respeitada.

    3. Sobre o acesso aos seus dados pessoais
    Poderão ver suas informações pessoais apenas funcionários da Escola de Advogados, e dentre estes, somente as
    pessoas com as devidas autorizações. Eventualmente, caso a inserção de suas informações se dê em ações criadas
    em parcerias, os parceiros explicitamente identificados também terão acesso à informação. Nenhum dado pessoal
    poderá ser divulgado publicamente.
    Todos os seus dados são confidenciais e qualquer usos destes estará de acordo com a presente Política. A
    Escola de Advogados empreenderá todos os esforços razoáveis de mercado para garantir a segurança dos nossos
    sistemas e dos seus dados. Nossos servidores estão localizados em diferentes locais do mundo para garantir sua
    estabilidade e segurança, e somente podem ser acessados por meio de canais de comunicação previamente
    autorizados.
    Todas as suas informações serão, sempre que possível, criptografadas, caso não inviabilizem o seu uso pela
    Escola de Advogados. A qualquer momento você poderá requisitar cópia dos seus dados armazenados em nossos
    sistemas. Manteremos os dados e informações somente até quando estas forem necessárias ou relevantes para as
    finalidades descritas nesta Política, ou em caso de períodos pré-determinados por lei, ou até quando estas
    forem necessárias para a manutenção de interesses legítimos da Escola de Advogados.
    A Escola de Advogados considera a sua privacidade algo extremamente importante e fará tudo que estiver a seu
    alcance para protegê-la. Todavia, não temos como garantir complemente que todos os dados e informações sobre
    você em nossa plataforma estarão livres de acessos não autorizados, principalmente caso haja compartilhamento
    indevido das credenciais necessárias para acessar a nossa plataforma. Portanto, você é o único responsável por
    manter sua senha de acesso em local seguro e é vedado o compartilhamento desta com terceiros. Você se
    compromete a notificar a Escola de Advogados imediatamente, por meio seguro, a respeito de qualquer uso não
    autorizado de sua conta, bem como o acesso não autorizado por terceiros a esta.

    4. Sobre o compartilhamento de dados
    Ao clicar nos botões de compartilhamento de conteúdo nas redes sociais disponíveis em nossas páginas, o
    usuário estará publicando o conteúdo por meio de seu perfil na rede selecionada. Escola de Advogados não tem
    acesso ao login e senha dos usuários nessas redes, nem publicará conteúdo em nome do usuário sem que ele
    realize esta ação.

    Por ser uma plataforma online, a Escola de Advogados poderá operar em conjunto de outras empresas numa ampla
    gama de atividades, incluindo para fornecer as funcionalidades de localização, anunciantes, patrocinadores e
    parceiros comerciais, online e offline, além de ferramentas de divulgação e análises de desempenho. Desta
    forma, nos reservamos no direito de compartilhar suas informações, incluindo dados de localização, cadastro e
    de interesses, com nossos parceiros, anunciantes e provedores de serviços, sempre que for possível, de forma
    anônima, visando preservar a sua privacidade. Por meio deste documento, você autoriza expressamente tais
    compartilhamentos.

    A Escola de Advogados permite que outras empresas e redes de anúncio anunciem em nossa plataforma por meio de
    diferentes tecnologias. Portanto, você poderá eventualmente receber diretamente anúncios, conteúdo e links
    exibidos de forma personalizada, de acordo com seus interesses e comportamentos em nossa plataforma ou em
    outros serviços com os quais você interaja. Para tanto, dados podem ser compartilhados entre a Escola de
    Advogados e essas outras empresas, principalmente identificadores únicos, endereços IP, cookies e scripts
    java, que podem ser utilizados para medir a eficiência da publicidade online. Por meio deste documento, você
    autoriza expressamente tais compartilhamentos.

    Todavia, a Escola de Advogados não se responsabiliza pelos atos, anúncios e conteúdo gerados por nossos
    parceiros comerciais e redes de anúncio, e esta Política não se aplica a eles, uma vez que a Escola de
    Advogados não as controla.

    Todas os dados, informações e conteúdos sobre você podem ser considerados ativos no caso de negociações em que
    a Escola de Advogados fizer parte. Portanto, nos reservamos no direito de incluir seus dados dentre os ativos
    da empresa caso esta venha a ser vendida, adquirida ou fundida com outra. Por meio desta Política você
    concorda e está ciente desta possibilidade.

    A Escola de Advogados se reserva no direito de fornecer seus dados e informações sobre você, incluindo
    interações suas, caso seja requisitado judicialmente para tanto, ato necessário para que a empresa esteja em
    conformidade com as leis nacionais, ou caso você autorize expressamente.

    5. Sobre o uso de informações fornecidas a nossos clientes
    A Escola de Advogados disponibiliza a seus clientes, por meio ferramentas que envolvem o gerenciamento de
    informações pessoais de usuários com quem seus clientes mantêm relacionamento.

    No entanto, a Escola de Advogados não controla as informações solicitadas utilizando seu sistema. Esses dados
    pertencem aos clientes, que os utilizam, divulgam e protegem de acordo com suas políticas de privacidade. São
    eles também os responsáveis por coletar, gerenciar e processar as informações confidenciais. Para informar-se
    melhor em relação à sua responsabilidade pelos dados que coletar, recomendamos a leitura do contrato de
    prestação de serviços que fechamos com você para o uso de nossos sistemas.

    6. Sobre o cancelamento da assinatura e alteração/exclusão de informações pessoais
    Você pode optar por não receber mais qualquer tipo de e-mail da Escola de Advogados.

    Em todos os e-mails que enviamos há sempre um link para cancelar a assinatura disponível nas últimas linhas.
    Ao clicar nesse link você será automaticamente descadastrado da lista.

    É importante mencionar que ao preencher qualquer formulário novamente ficará caracterizada a reinserção do seu
    e-mail à lista. Portanto, a requisição de cancelamento deve ser feita novamente caso seja de seu interesse.

    Todos os dados coletados serão excluídos de nossos servidores quando você assim requisitar ou quando estes não
    forem mais necessários ou relevantes para lhe oferecermos os nossos serviços, salvo se houver qualquer outra
    razão para a sua manutenção, como eventual obrigação legal de retenção de dados ou necessidade de preservação
    destes para resguardo de direitos da Escola de Advogados. Para alterar suas informações pessoais ou excluí-las
    do nosso banco de dados, basta enviar um e-mail para contato@escoladeadvogados.com.

    7. Mudanças na Política de Privacidade
    Essa Política de Privacidade pode passar por atualizações. Desta forma, recomendamos visitar periodicamente
    esta página para que você tenha conhecimento sobre as modificações. Caso sejam feitas alterações relevantes
    que ensejem novas autorizações suas, publicaremos uma nova política de privacidade.

    Antes de usar informações para outros fins que não os definidos nesta Política de Privacidade, solicitaremos
    sua autorização.

    8. Lei Aplicável
    Este documento é regido e deve ser interpretado de acordo com as leis da República Federativa do Brasil. Fica
    eleito o Foro da Comarca de Imperatriz, Maranhão, como o competente para dirimir quaisquer questões porventura
    oriundas do presente documento, com expressa renúncia a qualquer outro, por mais privilegiado que seja.


  </div>

  <p-footer>
    <button type="button" icon="pi pi-close" (click)="display=false" label="No" class="btn btn-primary">
      Fechar
    </button>
  </p-footer>

</p-dialog>