<app-site-menu></app-site-menu>

<!-- <div class="container" *ngIf="loadingPage">
  <div class="d-flex justify-content-center d-flex align-items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div> -->


<div class="container" *ngIf="!loadingPage">

  <div class="mt-3">

    <div class="progress mt-3 mb-1">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Planos</li>
      </ol>
    </nav>
  </div>

  <div class="mt-4">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 box-shadow" *ngFor="let produto of produtos">
        <img class="card-img-top" [src]="produto.image" alt="Card image cap">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">
            <b> {{produto.title | uppercase}} </b>
          </h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-success">R$ {{produto.price}},00<small
              class="text-success">/Ano</small></h1>


          <ul *ngIf="produto.slug == 'plano-basic'" class="list-unstyled mt-3 mb-4 text-left">
            <li>
              <i class="pi pi-check"></i> 1 Ano de hospedagem
            </li>
            <li>
              <i class="pi pi-times"></i> Pacote de artes para redes sociais
            </li>
            <li>
              <i class="pi pi-times"></i> Blog
            </li>
            <li>
              <i class="pi pi-times"></i> Logotipo
            </li>

          </ul>


          <ul *ngIf="produto.slug == 'plano-express'" class="list-unstyled mt-3 mb-4 text-left">
            <li>
              <i class="pi pi-check"></i> 1 Ano de hospedagem
            </li>
            <li>
              <i class="pi pi-check"></i> Pacote de artes para redes sociais
            </li>
            <li>
              <i class="pi pi-check"></i> Blog
            </li>
            <li>
              <i class="pi pi-times"></i> Logotipo
            </li>

          </ul>


          <ul *ngIf="produto.slug == 'plano-ultra'" class="list-unstyled mt-3 mb-4 text-left">
            <li>
              <i class="pi pi-check"></i> 1 Ano de hospedagem
            </li>
            <li>
              <i class="pi pi-check"></i> Pacote de artes para redes sociais
            </li>
            <li>
              <i class="pi pi-check"></i> Blog
            </li>
            <li>
              <i class="pi pi-check"></i> Logotipo
            </li>

          </ul>


          <button (click)="onDetalhePage(produto)" type="button" class="btn btn-lg btn-block peach-gradient text-white">
            Detalhe
          </button>
        </div>
      </div>
    </div>

    <div class="jumbotron">

      <div class="row">
        <h5 class="mb-3">Nossos Modelos</h5>
      </div>

      <div class="row mb-4 text-center">

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo1" target="_blank"
                class="btn blue-gradient  btn-sm btn-block text-white">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo2" target="_blank"
                class="btn blue-gradient btn-sm btn-block text-white">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo3" target="_blank"
                class="btn blue-gradient btn-sm btn-block text-white">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo4" target="_blank"
                class="btn blue-gradient btn-sm btn-block text-white">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <app-rodape></app-rodape>



  </div>