<app-site-menu></app-site-menu>

<!-- <div class="container" *ngIf="loadingPage">
  <div class="d-flex justify-content-center d-flex align-items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div> -->


<div class="container" *ngIf="!loadingPage">

  <div class="mt-4">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 box-shadow" *ngFor="let produto of produtos">
        <img class="card-img-top" [src]="produto.image" alt="Card image cap">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{produto.title}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-success">R$ {{produto.price}}<small
              class="text-success">/Ano</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button (click)="onDetalhePage(produto)" type="button" class="btn btn-lg btn-block btn-success text-white">
            Detalhe
          </button>
        </div>
      </div>
    </div>

    <div class="border-top">
      <div class="row mt-4">
        <h5>Nossos Modelos</h5>
      </div>

      <div class="row mb-4 text-center">

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo1" target="_blank"
                class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo2" target="_blank"
                class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo3" target="_blank"
                class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top"
              src="http://www.astronometricas.com.br/images/o-que-sao-sites-responsivos-astronometricas.png"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo4" target="_blank"
                class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>


      <app-rodape></app-rodape>



    </div>
  </div>