<app-site-menu></app-site-menu>

<!-- <div class="container" *ngIf="loadingPage">
  <div class="d-flex justify-content-center align-self-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div> -->

<div class="container mt-4 mb-5" *ngIf="!loadingPage" id="detalhe">

  <div class="mt-3">

    <div class="progress mt-3 mb-1">
      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100">50%</div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Planos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhe</li>
      </ol>
    </nav>
  </div>

  <div class="row mt-4 mb-4 d-flex justify-content-between">

    <div class="col-md-4">
      <img class="card-img-top" [src]="urlBaseImg + produto.image" alt="Card image cap">
    </div>

    <div class="col-md-4">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of produto.items">
            <i [ngClass]="['pi ',  item.check]"></i> {{ item.title_item}}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center bg-light mb-3">
        <div class="card-header">
          <h2> <b> {{ produto.title }} </b> </h2>
          <a routerLink="/">Escolher outro plano</a>
        </div>
        <div class="card-body">
          <h5 class="card-title text-success">
            R$ {{ produto.price }} /Ano
          </h5>

          <button (click)="productCheckout(produto)" type="button"
            class="btn peach-gradient btn-lg btn-block mt-3 mb-3 text-white">Comprar</button>

          <div class="border-top">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="jumbotron mt-5">

    <div class="row">
      <h5 class="mb-3">Nossos Modelos</h5>
    </div>

    <div class="row mb-4 text-center">

      <div class="col-md-3">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/imagens/modelos/mod1.jpg" alt="Modelo 1"> -->
          <img class="card-img-top" src="assets/imagens/modelos/mod1.jpg" alt="Modelo 1">
          <div class="card-body">
            <h5 class="card-title">Modelo 1</h5>
            <p class="card-text">

            </p>
            <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo1" target="_blank"
              class="btn blue-gradient  btn-sm btn-block text-white">Visualizar Modelo</a>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/imagens/modelos/mod2.jpg" alt="Modelo 1"> -->
          <img class="card-img-top" src="assets/imagens/modelos/mod2.jpg" alt="Modelo 1">
          <div class="card-body">
            <h5 class="card-title">Modelo 2</h5>
            <p class="card-text">

            </p>
            <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo2" target="_blank"
              class="btn blue-gradient  btn-sm btn-block text-white">Visualizar Modelo</a>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/imagens/modelos/mod3.jpg" alt="Modelo 1"> -->
          <img class="card-img-top" src="assets/imagens/modelos/mod3.jpg" alt="Modelo 1">
          <div class="card-body">
            <h5 class="card-title">Modelo 3</h5>
            <p class="card-text">

            </p>
            <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo3" target="_blank"
              class="btn blue-gradient  btn-sm btn-block text-white">Visualizar Modelo</a>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/imagens/modelos/mod4.jpg" alt="Modelo 1"> -->
          <img class="card-img-top" src="assets/imagens/modelos/mod4.jpg" alt="Modelo 1">
          <div class="card-body">
            <h5 class="card-title">Modelo 4</h5>
            <p class="card-text">

            </p>
            <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo4" target="_blank"
              class="btn blue-gradient  btn-sm btn-block text-white">Visualizar Modelo</a>
          </div>
        </div>
      </div>
    </div>




    <div class="row mb-4 text-center">

      <div class="col-md-3">
        <div class="card">
          <!-- <img class="card-img-top" src="../../../assets/imagens/modelos/mod5.jpg" alt="Modelo 1"> -->
          <img class="card-img-top" src="assets/imagens/modelos/mod5.jpg" alt="Modelo 1">
          <div class="card-body">
            <h5 class="card-title">Modelo 5</h5>
            <p class="card-text">

            </p>
            <a href="https://escoladeadvogados.com/sitesparaadvogados/modelo5" target="_blank"
              class="btn blue-gradient  btn-sm btn-block text-white">Visualizar Modelo</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- <div class="row mt-4">

      <div class="col-12">
        <h5>Outras Opções de Planos</h5>

      </div>

      <div class="col-md-3" *ngFor="let prod of proddutos">
        <div *ngIf="produto.id != prod.id">
          <div class="card">
            <img class="card-img-top" [src]="prod.image" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ prod.title }}</h5>
              <! <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p> ->
              <a routerLink="/produtos/{{prod.slug}}" class="btn blue-gradient  btn-sm btn-block text-white">
                Ver Plano
              </a>
            </div>
          </div>
        </div>
      </div>

    </div> -->

</div>

<!-- footer -->
</div>
<app-rodape></app-rodape>